@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mbti-entj { @apply bg-blue-600 text-white; }
.mbti-infp { @apply bg-purple-500 text-white; }
.mbti-infj { @apply bg-indigo-600 text-white; }
.mbti-estp { @apply bg-orange-500 text-white; }
.mbti-intj { @apply bg-gray-800 text-white; }
.mbti-intp { @apply bg-teal-600 text-white; }
.mbti-istj { @apply bg-blue-800 text-white; }
.mbti-esfj { @apply bg-pink-500 text-white; }
.mbti-isfp { @apply bg-green-400 text-white; }
.mbti-entp { @apply bg-yellow-500 text-gray-900; }
.mbti-isfj { @apply bg-blue-400 text-white; }
.mbti-esfp { @apply bg-red-500 text-white; }
.mbti-enfj { @apply bg-purple-600 text-white; }
.mbti-estj { @apply bg-gray-700 text-white; }
.mbti-istp { @apply bg-green-700 text-white; }
